
h1, h2 {
    color: #943535; 
}

html {
    font-family: Georgia, serif; 
}

h1, h2 {
    font-family: 'Impact', sans-serif; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
    padding: 20px;
}

h1, h2 {
    color: #943535;
}

html {
    font-family: Georgia, serif;
}

h1, h2 {
    font-family: 'Impact', sans-serif;
    text-align: center;
}

